<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399658735310-l5ivqfv47dqblbmphk5oa542t5m84635.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399658735310-l5ivqfv47dqblbmphk5oa542t5m84635</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-iqj7RQDsAwXvhT3tZBI-HnMXslWJdc</string>
	<key>GCM_SENDER_ID</key>
	<string>399658735310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zy.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>zyfirebasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>zyfirebasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399658735310:ios:0dfbe4e0d0195f9bc0e29f</string>
	<key>DATABASE_URL</key>
	<string>https://zyfirebasetest-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>